body {
    box-sizing: border-box;
}

.header{
    background-color: rgb(253, 200, 217);
    padding: 30px;
    text-align: center;
    font-size: 40xp;
    color: rgb(240, 160, 160);

}
  
.topnav {
    overflow:hidden;
    background-color: rgb(255, 251, 254);
}
 
.topnav a {
    float: left;
    display: block;
    color: rgb(240, 160, 160);
    text-decoration: none;
    text-align: center;
    padding: 19px 19px;
}

.topnav a:hover {
    background-color: rgb(240, 160, 160);
    color: rgb(255, 255, 255);

}

article {
    overflow: hidden;
    float: left;
    padding: 20px;
    width: 70%;
    background-color: rgb(255, 226, 235);
   
}

section::before {
    content: none;
    display: table;
    clear: both;

}

nav {
    float: left;
    width: 30%;
    height: 300px; 
    background:rgb(224, 173, 173);
    padding: 20px;
  }

footer {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    color: rgb(255, 225, 253);
    overflow: hidden;


}
body {
    background-color:rgb(224, 173, 173);
}

h1{
    color: rgb(252, 93, 93);
    text-align: center;
    font-size: x-large;
}

p {
    color: rgb(252, 93, 93);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

h2 {
    color: rgb(252, 93, 93);
    text-align: left;
    font-size: x-large;
}
 
h3 {
    color: rgb(252, 93, 93);
    text-align: left;
    font-size: x-large;
}

h4 {
    color: rgb(252, 93, 93);
    text-align: left;
    font-size: x-large;
}

h5 {
    color: rgb(240, 160, 160);
    text-align: center;
    font-size: large;
}



