 body {
  background-color: pink;
 }

 input {
  color: black;
 }

  .message-form__input {
  color: white;
  background-color: white;
 }

  .members-list {
    color: black;
  }

  .members-count {
    color: black;
  }