 body {
  background-image: url('Hearts.png');
  background-color: pink;
  background-repeat: no-repeat;
 }

 input {
  color: black;
 }

  .message-form__input {
  color: black;
  background-color: white;
 }

  .members-list {
    color: white;
  }

  .members-count {
    color: white;
  }